[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = ">=3.0.3"
requests = ">=2.32.3"
requests-auth = "*"
python-dotenv = ">=1.0.2"

[requires]
python_version = "3.11"
