<table style="height: 228px; border-color: #094ebd; margin-left: auto; margin-right: auto;" border="5" width="785" cellpadding="2">
    <tbody>
        <tr>
            <td style="width: 180px; text-align: center;"><strong>Access Token</strong></td>
            <td style="width: 181px; text-align: center;"><strong>Created At</strong></td>
            <td style="width: 188px; text-align: center;"><strong>Expires At</strong></td>
            <td style="width: 188px; text-align: center;"><strong>Refresh Token</strong></td>
        </tr>
        <tr>
            <td style="width: 180px; text-align: center;">{0}</td>
            <td style="width: 181px; text-align: center;">{1}</td>
            <td style="width: 188px; text-align: center;">{2}</td>
            <td style="width: 188px; text-align: center;">{3}</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<form action="{{ url_for('app_page_me') }}" method="GET">
    <div style="text-align: center; border: 0px solid">
        <button type="submit">Show User Information</button>
    </div>
</form>
<p>&nbsp;</p>
<form action="{{ url_for('app_refresh_token') }}" method="POST">
    <div style="text-align: center; border: 0px solid">
        <button type="submit">Refresh Token</button>
    </div>
</form>
<p>&nbsp;</p>
<form action="{{ url_for('app_revoke_token') }}" method="POST">
    <div style="text-align: center; border: 0px solid">
        <button type="submit">Revoke Token</button>
    </div>
</form>