<table style="height: 151px; border-color: #094ebd; margin-left: auto; margin-right: auto;" border="5" width="558">
    <tbody>
        <tr>
            <td style="width: 265px; text-align: center;"><strong>User ID</strong></td>
            <td style="width: 269px; text-align: center;"><strong>User Email</strong></td>
        </tr>
        <tr>
            <td style="width: 265px; text-align: center;">%s</td>
            <td style="width: 269px; text-align: center;">%s</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<form action="{{ url_for('app_callback') }}" method="GET">
    <div style="text-align: center; border: 0px solid">
        <button type="submit">Back</button>
    </div>
</form>